{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Tasks</h1>
                    {% if tasks %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            {% for item in tasks %}
                                <tbody>
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.start_date }}</td>
                                        <td>{{ item.due_date }}</td>
                                        <td>{{ item.is_completed|yesno:"yeah,no" }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>You have no tasks</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
