{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Projects</h1>
                    <p>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                    </p>
                    {% if project %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of tasks</th>
                                </tr>
                            </thead>
                            {% for item in project %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                                        </td>
                                        <td>{{ item.tasks.all| length }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>You are not assigned to any projects</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
